.active{
  color: red;
  text-decoration: none;
}

h1,h2,h3{
  text-align: center;
}
.App{
  max-width: 768px;
  margin: auto;
}
.invoiceSection{

  display: flex;
  background-color: rgb(245, 241, 241);
  padding: 10px;
}

.invoices{
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
}

.invoice{

  background-color: grey;
  padding: 0 10px;
}